.Sidebar {
    width: 15rem;
    height: 100vh;
    padding-top: 3.625rem;
    background-color: #fff;
    transition: .3s;
    color: #212832;
    z-index: 1;
    box-shadow: 0.15rem 0 1.75rem 0 rgba(33, 40, 50, 0.15);

    &_Hidden {
        transform: translateX(-15rem);
        padding-top: 3.625rem;
        width: 0;
        overflow: hidden;
        transition: .3s;
    }

    &_Container {
        display: flex;
        flex-direction: column;
        height: 100%;
        flex-wrap: nowrap;
        font-size: 0.9rem;

        &_Menu {
            flex-grow: 1;
            overflow: hidden;
            max-width: 14.95rem;

            &:hover {
                overflow-y: overlay;
            }

            &::-webkit-scrollbar {
                width: 0.75rem;
            }

            &::-webkit-scrollbar-thumb {
                border-radius: 10rem;
                border-width: 0.2rem;
                border-style: solid;
                background-clip: padding-box;
                background-color: rgba(33, 40, 50, 0.2);
                border-color: transparent;
            }

            &::-webkit-scrollbar-button {
                width: 0;
                height: 0;
                display: none;
            }

            &::-webkit-scrollbar-corner {
                background-color: transparent;
            }

            &::-webkit-scrollbar-track {
                background: inherit;
            }

            &_Heading {
                padding: 1.75rem 1rem 0.75rem;
                font-size: 0.7rem;
                font-weight: bold;
                text-transform: uppercase;
                letter-spacing: 0.05em;
                color: #a7aeb8;
            }

            &_Link {
                display: flex;
                align-items: center;
                line-height: normal;
                padding: 0.75rem 1rem;

                &_Active {
                    display: flex;
                    align-items: center;
                    line-height: normal;
                    padding: 0.75rem 1rem;
                    font-weight: 600 !important;
                    color: #0061f2;
                }

                &_Icon {
                    color: #a7aeb8;
                    font-size: 0.9rem;
                    padding-right: 0.5rem;
                    margin-right: 0.5rem;
                    display: inline-flex;
                }

                &_Arrow {
                    display: inline-flex;
                    align-items: center;
                    margin-left: auto;
                    
                    & svg{
                        color: #a7aeb8;
                    }
                }
            }

            &_Dropdown {
                display: flex;
                flex-direction: column;
                margin-left: 1.4375rem;
                border-left-style: solid;
                border-left-width: thin;
                padding-left: 0.5625rem;
                flex-wrap: nowrap;
                border-left-color: #d4dae3;

                &_Link {
                    display: flex;
                    align-items: center;
                    padding: 0.75rem 1rem;
                    line-height: normal;

                    &_Active {
                        display: flex;
                        align-items: center;
                        padding: 0.75rem 1rem;
                        line-height: normal;
                        font-weight: 600;
                        color: #0061f2;
                    }

                    &_Badge {
                        display: inline-block;
                        margin-left: auto;
                        line-height: 1;
                        padding: 0.125rem 0.25rem;
                        font-size: 0.75em;
                        font-weight: 400;
                        text-align: center;
                        white-space: nowrap;
                        vertical-align: baseline;
                        background-color: rgba(218, 231, 251);
                        color: rgba(0, 97, 242);
                        border-radius: 0.35rem;
                    }
                }
            }
        }

        &_Footer {
            display: flex;
            flex-shrink: 0;
            align-items: center;
            padding-left: 0.75rem;
            padding-right: 0.75rem;
            height: 5rem;
            color: #212832;
            background-color: rgba(33, 40, 50, 0.05);

            &_Content {
                font-size: 0.95rem;

                &_Subtitle {
                    font-size: 0.75rem;
                    color: #69707a;
                }

                &_Title {
                    font-weight: 500;
                }
            }
        }
    }
}